
*{
    z-index: 2;
}

.flexbox-dad{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flexbox-container{
    display: flex;
    justify-content: center;
}

.flexbox-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 3px solid rgba(255,255,255,0.31);
    border-radius: 25px;
    background-color: rgba();
    background-color: rgba(133, 255, 189, 0.5);
    width: 25%;
    height: 20vh;
    margin: 50px;
}


.inside{
    box-shadow: 2px 2px seagreen;
    width: fit-content;
    height: fit-content;
    background-color: yellowgreen;
    border: none;
    border-radius: 25px;
    margin-top: 2%;
    padding: 10px;
    font-size: 2rem;
    font-family: sans-serif;
    box-sizing: content-box;

}

.inside2{
    width: fit-content;
    height: fit-content;
    margin-top: 1vh;
    padding: 50px;
    font-size: 25px;
    text-align: center;
    margin: 5%;
}
@media all and (max-width: 1400px){
    .inside2{
        margin-top: 0;
        padding: 5px;
    }
    .inside{
        margin-bottom: 0px;
        padding: 5px;
    }
}
@media all and (max-width: 850px){
    .inside2{
        font-size: 1rem;
        font-style: bold;
    }
    .inside{
        font-size: 1.4rem;
    }
}
@media all and (max-height: 982px){
    .inside{
        margin: 0px;
    }
    .inside2{
        margin-top: -50px;
    }
}