.NavbarItems{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.navbar-logo{
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    position: sticky;
    display: block;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
}

.Nav-Links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

li a:hover {
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    border-radius: 10px;
    transition: all 0.5s ease-out;
}